/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{background-color: black;
    color: gold;}

.my_shop{
    font-size: 1.5rem;
    font-weight: bolder;
    color: gold;
    font-family: cursive;
    cursor: pointer;
}
.cart{
    cursor: pointer;
}

.cart span:nth-child(1){
    font-size: 2rem;
    color: white;
}
.cart span:nth-child(2){
    padding: 0 4px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -15px;
}
.payment-form .card-details{
	padding: 25px 25px 15px;
}
.payment-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818A;
	text-transform: uppercase;
}
.payment-form .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}
.payment-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em;
	}
	.payment-form .products {
		padding: 40px;
  	}
	.payment-form .products .item-name {
		font-size: 1em;
	}
	.payment-form .products .price {
    	font-size: 1em;
	}
  	.payment-form .card-details {
    	padding: 40px 40px 30px;
    }
  	.payment-form .card-details button {
    	margin-top: 2em;
    }
}
